body {
  background-color: black;
  color: bisque;
}

header {
  width: 100%;
  text-align: center;
  font-size: 23px;
  font-family: 'Fugaz One', cursive;
  background-color:  #0c023d;
  color: blanchedalmond;
  margin-bottom: 25px;
}

#header-title {
  text-align: center;
  margin-left: 150px;
}

h1 {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

header img {
  width: 150px;
  display: inline-block;
  border: #0c023d, solid;
}

header img.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
  
nav {
  float: right;
  width: 110px;
  padding: 20px;
  padding-top: 30px;

}

nav a {
  color: rgb(207, 88, 20);
  display: block;
}
.log-out {
  width: 11s0px;
  height: 30px;
  font-size: 20px;
  background-color: rgb(207, 88, 20);;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

.mute {
  width: 100px;
  height: 25px;
  font-size: 18px;
  background-color: rgb(207, 88, 20);;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  float: left;
  margin-top: 100px;
  margin-left: 20px;
  
}

section {
  text-align: center;
  padding-top: 0px;
}

#question {
  margin: 0 auto;
  height: 90%;
  width: 70%;
  background-color: #000000;
  font-size: 20px;
  border: 10px ridge rgb(2, 2, 2);
  border-radius: 10px;
  padding: 0px;
}

#answers {
  margin-top: 10px;
}

span {
  font-size: 32px;
  vertical-align: middle;
}

#question button {
  width: 150px;
  height: 100px;
  margin: 5px auto;
  font-size: 30px;
  background-color: blueviolet;
  color: blanchedalmond;
  border-radius: 15px;
  vertical-align: middle;
}

#answersAB button, #answersCD button {
  width: 80%;
  height: 50%;
  margin: 5px 2px 5px 5px;
  font-size: 30px;
  background-color: blueviolet;
  color: blanchedalmond;
  border-radius: 15px;
  vertical-align: middle;
}

#answersAB button:hover, #answersCD button:hover {
  background-color: #1766F1;
  border: 3px solid white;
}

#timer {
  margin: 0 auto;
  height: 40px;
  width: 40px;
  background-color: red;
  border-radius: 10px;
  font-size: 30px;
}

.hidden-element {
  display: none;
}

#next-question button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  background-color: green;
  color: blanchedalmond;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 10px;
}

#next-question button:hover {
  background-color: rgb(103, 168, 5);
  border: 3px solid white;
}

#answers #incorrect {
  background: red;
  transition-property: background;
  transition-duration: .7s;
  transition-timing-function: linear;
}

#answers #correct {
  background-color: green;
  border: 3px solid white;
  background: green;
  transition-property: background;
  transition-duration: .7s;
  transition-timing-function: linear;
}

#answersAB .no-hover, #answersCD .no-hover {
  pointer-events: none;
}

#levelIndicator {
  margin: 0 auto;
  text-align: left;
  color: green;
}

#endGameMsg {
  width: 100%;
  height: 100px;
  font-size: 15px;
  background-color: black;
  border-radius: 10px;
  margin-top: 10px;
}

.play-again {
  width: 200px;
  height: 100px;
  margin: 0px auto;
  font-size: 20px;
  background-color: rgb(214, 67, 30);
  color: blanchedalmond;
  border-radius: 1px;
  vertical-align: middle;
}

.play-again:hover {
  background-color: rgb(252, 81, 38);
  transform: scale(1.3);
}

button:focus {
  outline: none;
}

#medium-difficulty {
  color: orange;
}

#hard-difficulty {
  color: red;
}

#question h3 {
  font-size: 100%;
}